@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    @apply font-poppins;
  }
  body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
  }
}

@layer components {
  .hover-box {
    @apply border border-transparent hover:border-white duration-200 flex items-center h-16 justify-center px-1;
  }
  .hover-nav {
    @apply border border-transparent hover:border-white  duration-200 flex items-center px-2 cursor-pointer;
  }
  .skew {
    @apply absolute inset-0 bg-amazon_yellow px-2 -skew-x-[20deg] -translate-x-1 text-zinc-900;
  }
  .amazon-shadow {
    @apply bg-gradient-to-b from-amber-400 to-amber-500 hover:bg-gradient-to-t transition duration-500;
  }
  .amazon-input {
    @apply border border-slate-400 w-full py-1 px-2 rounded-sm placeholder:text-xs placeholder:font-roboto focus:outline-none hover:ring-1 hover:ring-amber-400 focus:ring-2 focus:ring-amber-500 focus:border-transparent hover:border-transparent;
  }
  .price {
    @apply text-xl text-slate-700 font-roboto;
  }
  .form-responsive {
    @apply w-full md:w-[320px];
  }
  .shadow-light {
    @apply bg-gradient-to-b from-slate-200 via-slate-100 to-white;
  }
  .group-borderbottom > *:not(:last-child) {
    @apply border-b border-slate-500;
  }
  .magnifier-image {
    @apply w-60 lg:w-80 max-h-[26rem];
  }
  .loader {
    display: inline-block;
    width: 50px;
    height: 50px;
  }
  .loader:after {
    content: "";
    display: block;
    width: 30px;
    height: 30px;
    margin: 4px;
    border-radius: 50%;
    border: 4px solid #f59e0b;
    border-color: #f59e0b transparent #f59e0b transparent;
    animation: spinner 1.2s linear infinite;
  }
  .alert {
    @apply relative w-full h-full text-center text-xl;
  }
  .alert::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 5px;
    left: 0;
    top: 0;
    transition: width 0.3s;
    animation: loading 2s ease;
  }
  .drawer-open,
  .drawer-close {
    transition: all 0.3s ease-out;
  }
  .drawer-open {
    animation: open-drawer 0.4s linear forwards;
  }
  .drawer-close {
    animation: close-drawer 0.4s linear forwards;
  }
  .modal-open {
    transition: all 0.3s ease-out;
    animation: open-modal 0.4s linear forwards;
  }
  .modal-open-bottom {
    transition: transform 0.3s ease-out;
    animation: open-modal-bottom 0.4s ease-out forwards;
  }
  @keyframes loading {
    from {
      width: 0;
    }
    to {
      width: 100%;
    }
  }
  @keyframes spinner {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  @keyframes open-drawer {
    0% {
      transform: translateX(-120%);
      opacity: 1;
    }
    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes close-drawer {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-120%);
      opacity: 1;
    }
  }
  @keyframes open-modal {
    0% {
      transform: translateY(-120%);
    }
    100% {
      transform: translateY(0);
    }
  }
  @keyframes open-modal-bottom {
    0% {
      transform: translateY(120px);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }
}
